[2017-04-05 16:12] jacktuck opened #1 "Add `raw` option to return attributes as a property during rollup"

[2017-04-05 16:22] jacktuck opened #2 "Sort image and video arrays etc by width and height?"

[2017-04-06 16:13] jacktuck commented on #2
Fixed https://github.com/jacktuck/unfurled/commit/a8b5e47f30e808d02fe98c5c5b182ee9acb4ae84

[2017-04-06 16:13] #2 closed

[2017-04-07 10:19] jacktuck opened #3 "Add option to only fetch oEmbed when no twitter or ogp is found"

[2017-04-07 11:37] jacktuck opened #4 "Guarantee height and width are of type number (RE h/w sometimes are strings)"

[2017-04-07 12:47] jacktuck opened #5 "Add babel for older node.js and consider making browser friendly"

[2017-04-08 21:10] jacktuck opened #6 "Would Typescript / Flow be appropriate for validation?"

[2017-04-08 21:26] jacktuck commented on #6
https://github.com/epoberezkin/ajv#api

Looks good

[2017-04-13 17:36] jacktuck opened #7 "Use a more sensible default timeout"
Request's default is 5 seconds, lets make it like 1 or 2 or something by default, as we're only loading html not images or anything.

[2017-04-16 08:27] jacktuck opened #8 "Test your fucking code m8"

[2017-04-16 10:39] Jerczu commented on #8
Need more badges m8

[2017-04-19 15:08] jacktuck opened #9 "Can we do anything about DNS errors being fatal?"

[2017-04-19 15:11] jacktuck opened #10 "Is it worth doing a HEAD request to make sure we have HTML?"
HEAD requests don't have to download any response body

Test whether it make sense doing a HEAD and then a GET.

Or is that optimizing for an uncommon case?

[2017-04-27 15:44] jacktuck opened #12 "Add Zeit Recipie"

[2017-04-27 15:44] #6 closed

[2017-04-28 10:03] jacktuck commented on #9
LGTM. Reopen if there is regression :)

[2017-04-28 10:03] #9 closed

[2017-04-29 15:48] #8 closed

[2017-06-13 08:25] jacktuck opened #17 "oembed can return XML -- we should parse it into JSON!"

[2017-06-13 08:26] jacktuck commented on #10
👎

[2017-06-13 08:26] #10 closed

[2017-09-14 03:17] greenkeeper[bot] opened #19 "An in-range update of open-graph-scraper is breaking the build 🚨"
## Version **2.5.5** of [open-graph-scraper](https://github.com/jshemas/openGraphScraper) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/jacktuck/unfurl/compare/greenkeeper%2Fopen-graph-scraper-2.5.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      open-graph-scraper
    </td>
  </tr

[2017-09-28 02:09] greenkeeper[bot] opened #20 "An in-range update of serve-static is breaking the build 🚨"
## Version **1.13.0** of [serve-static](https://github.com/expressjs/serve-static) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/jacktuck/unfurl/compare/greenkeeper%2Fserve-static-1.13.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      serve-static
    </td>
  </tr>
  <tr>
    <th a

[2017-09-28 02:38] greenkeeper[bot] opened #21 "An in-range update of coveralls is breaking the build 🚨"
## Version **2.13.2** of [coveralls](https://github.com/nickmerwin/node-coveralls) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/jacktuck/unfurl/compare/greenkeeper%2Fcoveralls-2.13.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      coveralls
    </td>
  </tr>
  <tr>
    <th align=l

[2017-11-02 07:01] greenkeeper[bot] opened #25 "An in-range update of nyc is breaking the build 🚨"
## Version **11.3.0** of [nyc](https://github.com/istanbuljs/nyc) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/jacktuck/unfurl/compare/greenkeeper%2Fnyc-11.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      nyc
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-11-03 16:54] #25 closed

[2017-11-03 16:54] #21 closed

[2017-11-03 16:54] #20 closed

[2017-11-03 16:54] #19 closed

[2017-11-03 16:55] #5 closed

[2018-01-30 20:38] jacktuck commented on #7
done

[2018-01-30 20:38] #7 closed

[2018-01-30 20:38] jacktuck commented on #3
not useful

[2018-01-30 20:38] #3 closed

[2018-01-30 20:39] jacktuck commented on #17
who uses xml

[2018-01-30 20:39] #17 closed

[2018-01-30 21:50] jacktuck commented on #1
Don't remember what this even means

[2018-01-30 21:50] #1 closed

[2018-01-30 21:51] jacktuck commented on #12
https://deploy.now.sh/

[2018-02-01 00:35] Jerczu commented on #1
Ooh baby I like it raw... ODB

[2018-02-21 17:09] jacktuck commented on #12
Added in [4207836ed4972b8b97163e662ff70d824484139f](https://github.com/jacktuck/unfurl/commit/4207836ed4972b8b97163e662ff70d824484139f)

[2018-02-21 17:09] #12 closed

[2018-02-27 09:33] jacktuck opened #26 "Add Node 4>= compatibility"
Need to check compatibility for stable versions of node 4 and newer

[2018-05-15 12:08] vivekatro opened #28 "Extract website icon"
First of all, awesome work!
It would be great we you can extract the site icon in the response as well :)

[2018-05-18 13:50] jacktuck commented on #28
@vivekatro Thanks for the kind words.

I think I'd like to keep the library as simple as possible and just return all possible metadata which would let you search for the icon yourself. Rather than handling the many varying cases someone might want to scrape a website.

That said if anything is missing and blocking you from fetching the icon that's something i'd definitely take a look at fixing.

[2018-05-18 13:50] #28 closed

[2018-06-14 06:51] vivekatro opened #29 "Non ASCII characters garbled in unfurl response"
https://unfurl.now.sh/?url=https://www.yahoo.co.jp
AL the Japanese chars are messed up.

[2018-06-14 08:44] Jerczu commented on #29
Pretty simple way to fix just use encodeURIComponent() when collecting strings and decodeURIComponent() when displaying them back this should preserve japanese characters.

[2018-06-22 00:06] jacktuck commented on #29
@vivekatro I (think) the issue is over at micro-unfurl see my PR https://github.com/beeman/micro-unfurl/pull/3

[2018-06-22 00:08] jacktuck opened #30 "Unhandled promise rejection"
I think this is an issue with unfurl rather than micro-unfurl's service need to double check later so making this so i don't forget.

![image](https://user-images.githubusercontent.com/8209433/41751348-bb6f8546-75b8-11e8-9777-13396f565ff3.png)

[2018-06-22 03:53] beeman commented on #29
Issue fixed by @jacktuck and deployed :)

[2018-06-22 08:28] jacktuck commented on #29
<3

[2018-06-23 15:57] vivekatro commented on #29
Thanks @jacktuck for fixing it quickly!

[2018-06-27 02:30] jacktuck commented on #26
On second thought node 7+ should be okay

![image](https://user-images.githubusercontent.com/8209433/41949676-59d573ee-79ba-11e8-90e5-c8f4cf751524.png)

[2018-06-27 02:30] #26 closed

[2018-06-27 13:29] beeman commented on #29
![image](https://user-images.githubusercontent.com/36491/41977129-eaeb21ee-7a1e-11e8-903c-6daad443281b.png)
Should be fixed thanks to @jacktuck !

[2018-06-28 15:06] jacktuck opened #32 "Add more tests for Asian sites"
There is currently a test for www.qq.com but we should test the other encodings too

http://xahlee.info/w/what_encoding_do_chinese_websites_use.html

[2018-06-29 10:54] jacktuck commented on #29
@vivekatro Thanks for this i'll take a look this evening

[2018-06-29 11:18] vivekatro commented on #29
https://unfurl.now.sh/?url=https://www.rakuten.co.jp
breaks, I get a timeout error. but it used to work with `1.1.6`

[2018-06-29 12:47] jacktuck commented on #29
@vivekatro Default timeout is 2000ms and this site takes 8000ms for me, you can pass your own timeout, though.

[2018-06-29 12:54] jacktuck commented on #29
Mm actually 1.1.6 used request rather than node-fetch so it had a higher timeout. I'll make a change to match the old timeout i think too. Good find.

From request:  ```timeout - integer containing the number of milliseconds to wait for a server to send response headers (and start the response body) before aborting the request. Note that if the underlying TCP connection cannot be established, the

[2018-07-11 15:21] vivekatro commented on #29
Were you able to check on yahoo.co.jp unfurling missing ogp and Twitter in the new version?

[2018-07-12 11:37] jacktuck commented on #29
@vivekatro Not yet. I need to make a test demonstrating whats missing etc to make sure it doesn't regress again.

[2018-08-03 23:50] shaunc869 opened #33 "only absolute urls are supported"
When I try to run unfurl against this URL: https://www.gohighlevel.com/blog/2018/04/25/the-winner-take-all-world-of-dental-reviews/index.html

I get the error:

[code]

Is this a known issue or is their a way to convert these to absolute urls on the fly? Thanks!

[2018-08-05 06:48] jacktuck commented on #33
Just took a very quick look and looks like that website provides an external, relative, link to oembed data.

[code]
So I think you've uncovered 2 issues potentially:

1 - We should detect and translate relative urls into absolute ones
2 - If an additional lookup for external oembed data fails we shouldn't throw an error because that will mean we can't provide the data which we did manage to pick

[2018-08-10 12:41] romainbraun opened #34 "Z_BUF_ERROR makes app crash"
When trying to unfurl certain URLs, zlib sometimes throw a Z_BUF_ERROR, and this part of the app makes it crash.
[code]
I was using this URL `https://www.reddit.com/r/holdmybeer/comments/9644ap/work_is_hard/`

The result of the unfurling is fine but the app crashes. Should an error really be thrown in the case of that non fatal error?

[2018-08-10 17:32] romainbraun commented on #34
1.1.7

[2018-08-11 14:15] jacktuck commented on #34
I can replicate very occasionally but seems like i did have some metadata when the error is thrown, so it shouldn't be a fatal error, i'll make a prerelease on npm if you wouldn't mind seeing if it solves the issue in version`1.1.8-beta.3`

[2018-08-13 07:36] romainbraun commented on #34
Thank you very much for your quick reaction. Giving it a try today!

[2018-08-13 10:50] romainbraun commented on #34
Looking great, I can't seem to be able to reproduce so far.

[2018-08-14 16:44] jacktuck commented on #34
@romainbraun No problem, glad it works for you now 😃

[2018-08-14 16:44] #34 closed

[2018-08-29 10:08] jacktuck commented on #33
Actively looking at this just struggling to find time.

[2018-09-12 23:31] shaunc869 opened #35 "Error: write after end"
I am getting a sporadic error:

Error: write after end
    at writeAfterEnd (_stream_writable.js:236:12)
    at PassThrough.Writable.write (_stream_writable.js:287:5)
    at IncomingMessage.ondata (_stream_readable.js:639:20)
    at emitOne (events.js:116:13)
    at IncomingMessage.emit (events.js:211:7)
    at addChunk (_stream_readable.js:263:12)
    at readableAddChunk (_stream_readable.js:250:

[2018-09-13 08:49] jacktuck commented on #35
Good catch!

I think i worked it out. I've gone a head and published `1.1.8-beta.4`.
Also I'm working on 2.0 at the moment which will be much better in terms of schema.

[2018-09-14 01:10] shaunc869 commented on #35
Looks like it worked, awesome job man!

[2018-09-14 12:37] #35 closed

[2018-09-20 01:43] jacktuck commented on #30
non issue

[2018-09-20 01:43] #30 closed

[2018-09-20 12:09] jacktuck commented on #33
Hi @shaunc869,

This should be fixed in the latest major prerelease. You can get it under the beta tag: `npm install unfurl.js@beta` for now. Schema has changed quite a lot from 1.x.x so you will probably want to give the docs another look.

[2018-09-20 12:12] jacktuck commented on #33
This is the result for the link you provided:
[code]

[2018-09-20 12:15] #33 closed

[2018-09-20 14:29] jacktuck commented on #4
`height` and `width` should now be guaranteed to be numbers as of version `2`.

[2018-09-20 14:29] #4 closed

[2018-09-20 15:36] jacktuck commented on #29
@vivekatro Good spot on yahoo.co.jp. Just found the issue which was User-Agent was not being set properly in the new release.

I've fixed it on the newest prerelease of unfurl.js@2.x.x (see README first), let me know if you'd like me to patch 1.6.x too, it's trivial to do so.  :)

[2018-09-20 15:36] #29 closed

[2018-09-24 15:30] jacktuck opened #37 "Take two passes at decoding entities"
If we only take one pass `&amp;quot;` will be output as `&quot;`. So we want `&amp;quot;` (1st pass) -> `&quot;` (second pass) -> `"`

[2018-09-25 12:56] jacktuck commented on #37
fixed in 97563b8efbc51f7f8ce0dd7e2738bbfac4c347c6

[2018-09-25 12:56] #37 closed

[2018-10-18 07:41] deadcoder0904 opened #38 "Implement Isomorphic fetch so it works for browsers"
Hey, thank you for this wonderful package.

I know this is a Node JS package but can it be used from the frontend like React?

I'm currently making a Chrome extension where I need to get metadata of any site specified so I did this -

[code]

But I get this error -

[code]

In Chrome Extension, it can be removed by adding `"permissions": ["<all_urls>"]` so I did that but still doesn't work.

It sh

[2018-10-18 17:45] jacktuck commented on #38
Hi @deadcoder0904 👋

Thanks for your interest in the package!

I've never actually tested how it'd work in the browser but the last time i considered supporting browsers I didn't think it'd be useful because of CORS. But i didn't consider the possibility of using it within a chrome extension which can bypass CORS as you've mentioned. A very cool use case!

As for why you get that CORS issue though

[2018-10-19 03:12] deadcoder0904 commented on #38
Hey @jacktuck I have created a repro & given the instructions in the README & in the Chrome Extension itself about installing the extension to showing the error. Let me know if you have any questions :)

[2018-10-19 12:05] deadcoder0904 commented on #38
And the most weird part is it gives plain old HTML with just an `axios` request

[code]

[2018-10-20 06:59] deadcoder0904 commented on #38
Oops I forgot to link to the repo 🤣👉 https://github.com/deadcoder0904/unfurl-chrome-extension-bug

[2018-10-20 10:37] deadcoder0904 commented on #38
Also I forgot to mention that its not a CORS issue as stated in the error because I've read a lot of articles that state that Chrome Extension can request any Cross Origin URL without any issues. Let me know if you need any help though :)

[2018-10-20 11:09] deadcoder0904 commented on #38
I think the issue must be [node-fetch](https://github.com/bitinn/node-fetch) but I'm not so sure. Although you can try changing it to [cross-fetch](https://github.com/lquixada/cross-fetch) or [isomorphic-fetch](https://github.com/matthew-andrews/isomorphic-fetch)

Sorry Idk TypeScript otherwise I would've sent a PR

[2018-10-20 11:29] deadcoder0904 commented on #38
Sorry for so much spam 🙏

But I think I found the error [here](https://github.com/bitinn/node-fetch/blob/master/LIMITS.md) in the first point

So changing to `cross-fetch` will do the job AFAICT :)

[2018-10-22 15:55] jacktuck commented on #38
@deadcoder0904 Hey no worries! I'll take a look at `cross-fetch` - on first glance, it looks solid.

[2018-10-24 07:42] deadcoder0904 commented on #38
I tried learning Typescript & replacing with `cross-fetch` but I soon realised lots of code is node-specific. Like you are only fetching till head tag & if we do client side we need to fetch whole html.

So what you need to do for client side thing is like `simple-unfurl` 👇
https://github.com/itaditya/simple-unfurl/blob/master/index.js

The only thing different in `simple-unfurl` is its incomplete

[2018-10-24 08:49] deadcoder0904 commented on #38
I mean to say that you can't fetch only till head tag in client, you have to fetch everything. Also, you are using `url` from node.

Is there anything else I'm missing you are using from node?

Also do you have a timeframe (maybe estimation) for the browser release?

[2018-10-24 09:03] jacktuck commented on #38
I get what you mean, but unsure as to _why_ that is the case. It still does a GET request rather than HEAD request. It just stops parsing when </head> is reached since no metadata should be found after this point.

I _think_ that would be it, i guess I need to make the module bundle friendly too, if it isn't already.

Good question. I'll try and have something working this week time permitting.

[2018-10-24 09:12] deadcoder0904 commented on #38
Thank you I'll monkey-patch something till then :)

[2018-10-24 09:21] deadcoder0904 commented on #38
Oops I saw the code again & I thought `Parser` fetches only till head tag. I completely missed `fetch` fetching the whole thing & then parsing it till `head` 🤣

[2018-11-01 09:44] deadcoder0904 commented on #38
Friendly ping :)

Any progress?

[2019-01-29 22:59] lucascorrea97 commented on #38
Any updates on that?

[2019-02-16 15:54] jacktuck commented on #38
Been busy with work i've recently started a new job. I'll look this evening.

[2019-02-16 18:12] jacktuck commented on #38
So i've taken an initial look at how much work is involved.

And so far I figure we need to replace fetch with cross-fetch and iconv-lite (or figure out how to make it isomorphic easily, docs are unclear). One interesting thing is node-fetch implemented some non-standard helpers which we made use of like timeouts and size limits. So we need to figure out if those are important and if we can implem

[2019-02-16 21:04] #38 closed

[2019-02-16 21:07] jacktuck commented on #38
@deadcoder0904 i've had a look at your repo (thanks for making it btw). I have confirmed it works, at least for the domain you're testing. I've done an npm release, which is a major release since it breaks some bits such as timeouts. Checkout `unfurl.js@3.0.0` and let me know how it goes!

[2019-02-17 04:46] deadcoder0904 commented on #38
No, it's not working - https://codesandbox.io/s/1qx99lo9ml

The error is

[code]

I had a look & its this line https://github.com/jacktuck/unfurl/blob/a0cff1efeb6e1da746fe5c16f59015d6bbadf160/dist/index.js#L18

But, the file is [UnexpectedError.js](https://github.com/jacktuck/unfurl/blob/master/dist/UnexpectedError.js) & required one is `unexpectedError.js`.

It's a typo somewhere 😂

And thanks fo

[2019-02-17 13:43] jacktuck commented on #38
@deadcoder0904 Not sure why codesandbox does not work but if you try your repo does it work locally? It does for me.

`cd unfurl-chrome-extension-bug`
`npm i unfurl.js@3.0.0`
then just change the unfurl call to do
[code]

![image](https://user-images.githubusercontent.com/8209433/52913888-09b9fb00-32ba-11e9-9532-ecc7762a788f.png)

[2019-02-17 14:20] jacktuck commented on #38
Looks like that was the case, nice find! I've published 3.0.1 to npm.

[2019-02-17 18:10] deadcoder0904 commented on #38
Naah still doesn't work for me. Got this error now -

[code]

Updated code to use Hooks 👉https://github.com/deadcoder0904/unfurl-chrome-extension-bug

<img width="911" alt="bug" src="https://user-images.githubusercontent.com/16436270/52917090-46631200-330d-11e9-8db7-f647af2dfca7.png">

[2019-02-17 18:14] deadcoder0904 commented on #38
Okay saw your edited comment (please don't edit valuable commits 😂) & I changed the breaking change from

[code]
to

[code]

and it finally works 🎉

Thank you 🙌

[2019-02-17 18:19] deadcoder0904 commented on #38
But the error

[code]

is still there. Other than that works fine.

[2019-02-17 19:27] jacktuck commented on #38
👍 Will look at that and update the docs at some point

[2019-02-23 14:26] deadcoder0904 commented on #38
Yes, according to https://stackoverflow.com/a/33144144/6141587

So I think https://github.com/jacktuck/unfurl/blob/master/src/index.ts#L50 must be changed.

So instead of doing

[code]

I think it shall do

[code]

WDYT? Is it correct? Or are there other places where header is set?

[2019-02-23 14:30] deadcoder0904 commented on #38
Also, I think the README example can be a little better. It gets confusing to find `unfurl` on `npm` since the package name is `unfurl.js` & there are so many `unfurl` packages on `npm`. And `./unfurl.js` makes it feel like a relative path.

Instead of

[code]

You can probably do

[code]

[2019-02-23 15:42] jacktuck commented on #38
@deadcoder0904 Both of those changes sound good to me. Want to make a PR?

[2019-02-23 15:51] deadcoder0904 commented on #38
`typeof process !== 'undefined' && process.versions && process.versions.node` is hard to read than `typeof window !== undefined` I guess 🤷‍♂️

[2019-02-23 16:00] deadcoder0904 commented on #38
I tried doing it but it's failing tests. Maybe it's better for you to make changes & push a version whenever you have time :)

[2019-03-03 06:23] brenc opened #40 "Changelog"
Great project! Just looking at upgrading from 1.x to 3 and I see the data structure has changed. Is there a changelog somewhere I'm missing? If not, the releases feature on here is really handy for logging all that. I'm having to go through, compare, and change code manually. Not a huge deal but it would be nice to have a changelog.

[2019-03-03 17:56] jacktuck commented on #40
If the data structure changed I'd of thought i'd have made it a major release but perhaps not if you are correct. I'll look into a changelog for future releases.

[2019-03-03 17:56] #40 closed

[2019-03-04 01:51] brenc commented on #40
I'm a bit confused. It looks like the resulting unfurl output changed considerably between 1.x and 3.x. Here is the unfurl data for https://www.youtube.com/watch?v=pvYOSuz8yG4.

unfurl.js@1.1.7:
[code]
unfurl.js@3.0.1:
[code]
So upgrading to 3.x broke my app of course.

[2019-03-04 02:43] brenc opened #41 "Unfurling image URLs broken in 1.1.7+"
Unfurling https://pbs.twimg.com/media/DHOfU6fVYAItcBY.jpg in 1.1.6 returns:

`{ other: { _type: 'image' } }`

In 1.1.7:
[code]

This breaks my app of course. I wouldn't expect this from a minor version change. I've had to revert back to 1.1.6 for now.

Looks like 3 changes even more:
[code]

[2019-03-04 15:36] jacktuck commented on #40
Hence it being a major release.

[2019-03-04 17:37] brenc commented on #40
Oh gotcha. Thanks.

[2019-03-06 09:13] jacktuck commented on #41
Why does this break your app?

In both cases unfurling an image throws an error? Do you mean you rely on the structure of the error? You're right it should have probably been a major release, but it wasn't, so not sure what you're asking for...

[2019-03-06 11:20] brenc commented on #41
Because 1.1.6 outputs JSON and 1.1.7 throws an error.

Anyway, I'll close the issue since you already have a new version out. I just thought I'd bring this to your attention so it hopefully doesn't happen again between minor versions.

[2019-03-06 11:20] #41 closed

[2019-03-24 15:14] dimroc opened #42 "Exports no types for Typescript"
When using `unfurl` like so, it leads to a complaint by typescript:

[code]

[code]

This is probably because we don't export types:
https://github.com/jacktuck/unfurl/blob/master/dist/index.d.ts

[code]

Let me know if I'm missing an easy step.

[2019-03-24 16:45] jacktuck commented on #42
I've not tested but i think you've got your import wrong.

`import unfurl from "unfurl.js"` or  `const unfurl = require("unfurl.js")`

[2019-03-24 21:16] dimroc commented on #42
Thanks for the quick response @jacktuck.
1. `import unfurl from "unfurl.js"` has the same issue
2. `const unfurl = require("unfurl.js")` works and is what I've ended up doing as a stopgap, but this doesn't import the type into the typescript world, it bypasses the type definition.

[2019-07-06 17:18] #32 closed

[2019-08-06 19:33] #42 closed

[2019-08-12 13:27] jacktuck commented on #42
@dimroc Forgot to say. This should now be fixed :)

[2019-08-20 19:31] andreyvital opened #43 "The "url" argument must be of type string. Received type undefined"
Getting:

[code]

With: http://cityofcorona.maps.arcgis.com/apps/MapSeries/index.html?appid=6e3b7f35182a45d79d753bc4a6c543e0

Here's what being parsed out as `metadata`:

[code]

[2019-08-20 19:33] andreyvital commented on #43
It should be validating that we've got a valid URL to be resolved to:

[code]

Here: https://github.com/jacktuck/unfurl/blob/master/src/index.ts#L334-L338

[2019-08-20 20:07] andreyvital commented on #43
https://github.com/jacktuck/unfurl/pull/44

[2019-08-25 16:38] #43 closed

[2019-10-28 10:33] trieloff opened #45 "Youtube OEmbeds fail, entities in URL not decoded"
Trying to embed `https://www.youtube.com/watch?v=TTCVn4EByfI` fails, as the `getRemoteMetadata` step fails to retrieve `http://www.youtube.com/oembed?format=json&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DccYpEv4APec`. The correct URL is of course `http://www.youtube.com/oembed?format=json&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DccYpEv4APec`, so this issue can be resolved by parsi

[2019-10-28 20:31] #45 closed

[2020-02-14 01:05] trieloff opened #48 "OEmbed for SoundCloud isn't resolved"
Trying with `https://soundcloud.com/cheryl-lin-fielding/chanson-pour-jeanne?in=cheryl-lin-fielding/sets/website` I'm getting following results:

[code]

oembed is missing, despite being provided by SoundCloud.

I have identified the root cause and will provide a PR.

[2020-02-19 09:20] #48 closed

[2020-03-26 20:14] A-Tokyo opened #57 "🐛 Library doesn't work clientside"
Thanks for the amazing work.

I noticed that the library doesn't work on any browser. It results in the error:
[code]

Your schema is amazing and i'd love to use this, however I will have to use https://github.com/itaditya/simple-unfurl for now as it works clientside as well

[2020-03-26 21:09] jacktuck commented on #57
Oh interesting. I get "ReferenceError: Cannot access 'cross_fetch_1' before initialization". I'll see what I can do.

[2020-03-26 21:41] A-Tokyo commented on #57
My workaround (I used this answer here to create a helper app that handles cross origin: https://stackoverflow.com/questions/43871637/no-access-control-allow-origin-header-is-present-on-the-requested-resource-whe):

[code]

[2020-03-27 00:53] jacktuck commented on #57
I did look into this just now and looked into building for the browser in webpack. I only ran into this because i'm was testing the library directly in codepen with unpkg. I'm guessing you're using a bundler, so you didn't run into this.

But due to the restrictive nature of CORS in the browser, i don't think there is any merit in keeping those changes for a browser build.

Whilst your CORs proxy

[2020-03-27 00:55] jacktuck commented on #57
Do you not get the same CORS error with itaditya/simple-unfurl ?

[2020-03-27 01:18] #57 closed

[2020-03-27 11:38] A-Tokyo commented on #57
Yes I get it :/ so I added the proxy CORS thing to avoid these issues.

However I think I will just add a backend endpoint today that handles this. I am just worried the library would have the same errors in the backend as well @jacktuck

[2020-03-27 12:29] jacktuck commented on #57
You shouldn't have the same issue as you'd have control of the endpoint - meaning you can add CORS response headers - either wildcard or specific to your domain(s).

[2020-04-04 18:13] atjeff opened #59 "Installation instructions"
I was having a hard time finding the actual npm package as there isn't an installation section in the readme, and the npm badge doesn't actually link to the package. Which got me curious and digging through the readme. Why was the installation section removed? Do you need a PR to add it back?

[2020-04-04 18:24] atjeff opened #60 "Missing types in dist"
Hey man, awesome package! It does a great job of getting me the data I need, however, it appears that whatever method of building / packaging you're using isn't including the typescript types in the dist!

![image](https://user-images.githubusercontent.com/10563763/78458506-e6017200-767f-11ea-8aad-8ca55f0e3f12.png)

[2020-04-07 14:22] jacktuck commented on #59
Sure, open to adding it back. I figured people would deduce it from
[code]

or the "name" in package.json

[2020-04-10 14:53] #59 closed

[2020-04-27 15:44] jjg77 opened #62 "Package installation"
Is there a way to use require instead of import from?

[2020-04-29 08:39] jacktuck commented on #62
I think we output in commonjs so require should work. What is the issue you are having?

[2020-04-29 13:30] jjg77 commented on #62
My mistake.  Closing the issue.

[2020-04-29 13:30] #62 closed

[2020-04-30 12:27] jacktuck commented on #62
Ah okay. Well glad you got things working :)

[2020-05-03 14:53] wereHamster opened #63 "Favicon"
It would be nice if the returned metadata included links to the favicon. Do you think such a feature is in scope of this package?

[2020-05-03 15:35] jacktuck commented on #63
We should already be returning the favicon - so maybe the code for doing so needs tweaking.

https://github.com/jacktuck/unfurl/blob/76cab79ec1fbc02e9e3e2e928d224c4c52b8a26b/src/index.ts#L195

Do you have an example where the favicon is not being picked up?

[2020-05-03 15:50] wereHamster commented on #63
I was not looking at the source code, I was looking at the Metadata type that is described in the readme, which does not mention the favicon. The favicon is indeed being extracted correctly in the few tests I did.

Maybe the readme can link directly to the TypeScript Metadata type in the source code instead of repeating it?

[2020-05-18 08:39] #60 closed

[2020-06-02 10:29] ubershmekel commented on #38
I saw this change https://github.com/jacktuck/unfurl/commit/76cab79ec1fbc02e9e3e2e928d224c4c52b8a26b that states browsers won't be supported. Why is that the case?

[2020-06-02 13:10] jacktuck commented on #38
@ubershmekel Hi. That was because doing Unfurling in the browser is thwart with issues. Primarily it's unfeasible due to CORS. Which you can get around if you proxy your requests - but at that point you may as well do the unfurl there too (i.e. server side).

[2020-06-02 13:24] deadcoder0904 commented on #38
What issues? Bummer, this was a great use for Chrome Extensions where we don't need server-side.

[2020-06-02 15:17] jacktuck commented on #38
#57

[2020-06-02 16:34] deadcoder0904 commented on #38
Cool, any version that works client-side? Because the schema is rad here 😂

[2020-06-19 12:54] jacktuck opened #65 "Add semantic releases"
https://semantic-release.gitbook.io/

[2020-08-17 23:11] InstanceOfMichael commented on #40
Was `canonical` intentionally dropped?

[2020-08-18 08:50] jacktuck commented on #40
Looks like the `other` section was dropped (which would have caught `canonical` and any other metadata). I think add `canonical` is a good idea.

[2021-01-04 10:24] trieloff opened #67 "Youtube: only favicon gets extracted"
Youtube changed its HTML a month ago and since then our tests (https://github.com/adobe/helix-embed/pull/345) have been failing when verifying the output for Youtube.

The underlying issue is a combination of making the reasonable assumption that all metadata is in the `head` here

https://github.com/jacktuck/unfurl/blob/db57429b369bae7e22f6983a7e19832c54101491/src/index.ts#L270-L273

and Youtube

[2021-01-05 13:22] jacktuck commented on #65
We now have semantic release running.

[2021-01-05 13:22] #65 closed

[2021-01-05 13:28] jacktuck commented on #67
If it turns out title is often in the head but other meta is in the body we could in the future just remove this optimisation all together or default to not having it and add a option flag for it.

[2021-01-06 09:35] trieloff commented on #65
With Semantic Release set up, you might want to try this GitHub action we are using in Helix: https://github.com/adobe/helix-embed/blob/master/.github/workflows/semver-check.yaml

It will leave a comment like this https://github.com/adobe/helix-embed/pull/345#issuecomment-739253429 for every PR to tell you about the release impact, which makes it easy to spot breaking changes or mislabeled changes

[2021-01-06 09:42] trieloff opened #69 "Youtube OEmbed not picked up"
Even with #67 fixed, OEmbed for YouTube is not working.

[2021-01-06 10:02] trieloff commented on #69
From #67:
[code]

Trying the HTTP URL YouTube provides yields:

[code]

Upgrading to HTTPS makes it work:

[code]

🤦

[2021-01-06 13:50] #69 closed

[2021-01-25 22:20] #63 closed

[2021-02-27 18:43] henrykuzmick opened #73 "Incorrect metadata types"
Hey 👋
Thanks for the great lib!
The `Metadata` type defines `twitter_card` and `open_graph` as arrays, but the received results are objects.

[2021-02-27 20:07] jacktuck commented on #73
Hey Henry!

I've just had a look and you're right! 🤦 . Sorry, not quite sure how this went unnoticed (by me). Anyway, would you like to submit a PR for the fix? If not I'll take a look in the morning.

[2021-02-27 22:08] henrykuzmick commented on #73
Sure, I'll try to ping you with a PR sometime tomorrow 👌

[2021-02-28 10:54] #73 closed

[2021-05-25 20:00] davidhq opened #75 "Wrong parsing of <title>"
Thank you very much for this great library, seems to work well, I'm currently testing it.

However:

`unfurl.js` will parse the title of `https://hash.ai` as "Facebook".

Reason:

This is the correct title and it appears first:

<img width="485" alt="Screenshot 2021-05-25 at 21 55 53" src="https://user-images.githubusercontent.com/3899/119560310-133d4200-bda4-11eb-9c74-f377d9e92bc1.png">

but late

[2021-05-25 22:30] jacktuck commented on #75
Looks like we don't account for `title` in nested nodes, for example `<title>` inside of a `<svg>` (which is your test case). I think the fix would be to check we're at the root-level of the document before setting the title in metadata.

I'd happily accept a change for this upstream and would like to have some tests for this too.

[2021-05-25 22:34] jacktuck commented on #75
I'll be able to take a look at this later in the week and get a fix up.

[2021-05-26 06:49] davidhq commented on #75
Thank you! It would be great if you can get it fixed. If not in a week or so, I'll take a look and offer a possible fix.

[2021-05-26 18:15] #75 closed

[2021-05-26 18:19] jacktuck commented on #75
Should be fixed now. It's not a very thorough fix so might need looking at again if other edge cases come up around this.

[code]

[2021-05-27 11:45] davidhq commented on #75
tnx! it seems to work for this case. Didn't notice other issues for now.

[2021-05-30 12:21] davidhq opened #77 "Sorry! Something went wrong!"
Hello again!

`unfurl.js` returned

[code]

at one occassion when scraping https://www.amazon.com/gp/product/1732265178/ref=ox_sc_act_image_1

now it works better and returns correct metadate

My question is: did all of that come from Amazon? I don't think that title is something that is coming from unfurl or any associated libraries... so if that's the case, nothing can be done except to retry, r

[2021-05-30 12:49] davidhq commented on #77
[code]

Looks like amazon is sometimes serving this (or "Something went wrong etc." instead of the real page ..

Investigating further...

Maybe I need to try with some browser agent ....

[2021-05-30 12:50] davidhq commented on #77
[code]

:)

[2021-05-30 12:58] davidhq commented on #77
Seems to work better:

[code]

Results:

[code]

But it's still strange that

[code]

which got parsed out on one occassion...

I hope amazon is really returning such different data... if not, I'll report further, maybe unfurl fails to parse correct opengraph metadata in some cases...

[2021-05-30 18:29] davidhq commented on #77
What do you think about this: https://github.com/davidhq/unfurl/commit/36aeda9dcdb91d163f255806d4f3d599dc1195cf

[code]

or maybe don't parse html except when status is 200 (return `{}` when other than 200) ?

[2021-05-30 18:34] davidhq commented on #77
I noticed that Amazon is very unpredictable and returns 503 with "Sorry!" or it can return 200 with

[code]

so I guess part of the ugrade for this lib would indeed be not to return metadata except on 200

and then client of library can decide further if that is true metadata or not (for example title: 'Amazon.com' is not)..
I'd probably decide on the basis if 'open_graph' was present... but this

[2021-05-30 20:53] jacktuck commented on #77
Interesting. I think we should throw if we get a 4xx or 5xx and add the status code to the error object.

[2021-05-30 21:43] jacktuck commented on #77
You are more likely to see crawling errors on large sites like amazon, google, wikipedia, etc. A few things you can try to get around this:

- If you are using AWS/GCP/AZURE then your IP will be in an ASN owned by those organisations. An organisation may chose to block IP ranges in cloud provider ASNs to reduce bot/crawling traffic. You can use residential IP proxy to get around this but I'd sugge

[2021-05-31 07:49] davidhq commented on #77
Is this suitable ?
https://github.com/davidhq/unfurl/commit/1e40869e15438b8880b97c828953191a9db3c641

[2021-05-31 08:06] davidhq commented on #77
Thank you for this info. I suspected this might be the case, I was scraping a few amazon links from Digital Ocean and it all failed immediately which scraping from my hope IP worked... at first... but looks like they added it to the list since yesterday :) now I get 403, 429  & 503 !

Also from other sites:
[code]

I have around 700 links in my personal testing database and they are all around the

[2021-05-31 13:50] davidhq commented on #77
Quick update:

- after changing userAgent from
`'Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)'` to `'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36'` Amazon again returns `200` from my local IP ... other services as well...

BUT

Amazon does not return the complete data even with `200`, `open_graph` and

[2021-05-31 13:51] davidhq commented on #77
I hope this empiric info is somewhat useful ... I'm posting because it's interesting to me and also to collect some input, of course, but don't feel obliged to do it, you already helped a lot with explanation above.

I also hope that this addition to `unfurl` (reject unsuccessful http status responses) is good for the project.

[2021-05-31 14:50] jacktuck commented on #77
If you can create a minimal reproducible test case i'd be happy to take a look.

 Also, we should now be throwing when we see non-200 response codes
 https://github.com/jacktuck/unfurl/pull/78. This is available in `unfurl.js@5.3.0`

[2021-05-31 14:50] #77 closed

[2021-05-31 18:53] davidhq commented on #77
Here it is: https://gist.github.com/davidhq/dc097bf6eeeaefee47443cdf5dde9cfa

but it will probably behave differently from your IP (?)

I saved the .html retrieved: https://uniqpath.com/temp/result_unfurl_amazon_test.html

and it doesn't seem to contain open_graph metadata, so nothing to be done probably..

you can try running the script with the other user agent (mimicking google spider)

[code]

[2021-05-31 18:55] davidhq commented on #77
Possibilities according to my tests:

- Chrome user agent: 200 + missing open_graph OR error (from Digital Ocean ASN etc.)
- Google bot user agent: 200 + present open_graph OR error

[2021-05-31 21:09] jacktuck commented on #77
I've not been able to reproduce getting open graph data locally

`curl https://www.amazon.co.uk/Life-After-Google-Blockchain-Economy/dp/1621575764 -H "User-Agent: Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html)" | grep "<meta" `

Result:
[code]

https://dashboard.opengraph.io/debug also confirms there is no open graph tags (their api does infer them, though, i think)

[2021-05-31 21:30] jacktuck commented on #77
Try using Facebook crawler's UA instead
`curl https://www.amazon.co.uk/Life-After-Google-Blockchain-Economy/dp/1621575764 -H "User-Agent: facebookexternalhit/1.1" | grep "<meta"`

[code]

[2021-06-01 12:07] davidhq commented on #77
Wow ok, so this is also new info. I think I started messing with `userAgent` because of problems doing this from Digital Ocean.. and then I mixed up everything, now it's clear what was happening.. So I think userAgent is best left as it was and I'll focus on residential ip and then ship the metadata to digital ocean server instance dynamically. Later play with proxies if needed.

Amazon did indeed

[2021-06-01 18:49] jacktuck commented on #77
FWIW Slack also doesn't do unfurling for Amazon links as far as i can tell.

One idea would be to do unfurling entirely onto the client. You'd have to use something other than `unfurl.js` as we intentionally opted to not support browsers. Maybe look into using https://github.com/mozilla/page-metadata-parser

[2021-06-01 19:05] jacktuck commented on #77
If you're feeling adventurous you could try running unfurl.js in [WebContainers](https://blog.stackblitz.com/posts/introducing-webcontainers/). This would mean you could only support unfurling in Chromium browsers (but perhaps you could fallback to backend unfurl)

[2021-06-02 11:18] davidhq commented on #77
👌

[2021-07-21 03:22] fuji44 opened #80 "Add support article type in OGP specification"
Hi all.

I'm looking to support the article type as written in the OGP [specification](https://ogp.me/#type_article).
The specification has the following description.

I interpreted this as "not specified as an OGP, but widely used".
I thought that some people might not like to support it with unfurl, depending on their interpretation of this statement.

Do you guys have any doubts about being abl

[2021-07-21 20:49] jacktuck commented on #80
Hey @fuji44. I don't see any problem with us supporting this 👍

[2021-07-22 14:02] fuji44 commented on #80
Thanks for the answer. I would like to work on this in my spare time.

[2021-08-01 22:01] #80 closed

[2021-09-08 06:12] nisaji opened #83 "TypeError [ERR_UNESCAPED_CHARACTERS]: Request path contains unescaped characters"
When I use with URL contains Double Byte Character (for example: Japanese), returns error as Title.

### Reproduction of the problem
[code]
Each addresses are accessible via browser now.

[2021-09-08 19:14] jacktuck commented on #83
Can you try now on this branch `fix/input-url-encoding`?

[2021-09-09 01:04] nisaji commented on #83
Thank you.
After installing this branch with `yarn add https://github.com/jacktuck/unfurl.git#fix/input-url-encoding`,
I encountered `code: 'MODULE_NOT_FOUND'` when I use unfurl by `import { unfurl } from 'unfurl.js'`.
Reinstalling `node_modules`  with `yarn` not fixed this error.

[2021-09-09 01:08] nisaji commented on #83
Installing `master` branch with `yarn add unfurl.js`works like before.

[2021-09-11 20:09] #83 closed

[2022-01-18 07:28] phuctm97 opened #86 "Respect robots.txt"
Most sites will also look at `robots.txt` before parsing meta tags, would be great if unfurl can take this into account too!

[2022-01-19 18:15] jacktuck commented on #86
Unfurl itself isn't a crawler. I don't think this is in unfurl's remit really.

[2022-01-19 18:15] #86 closed

[2022-03-04 11:22] phuctm97 opened #88 "Incorrect Twitter card result for Gumroad links"
Twitter card type is incorrectly identified for https://gumroad.com/a/241161331/BplZF

When you use this link on https://cards-dev.twitter.com/validator, Twitter said it `twitter:card = summary_large_image tag found` but unfurl returned empty Twitter card.

<img width="595" alt="CleanShot 2022-03-04 at 18 20 56@2x" src="https://user-images.githubusercontent.com/25026967/156754497-0650e6fa-6de0-4a6

[2022-03-04 11:23] phuctm97 commented on #88
This link is redirected, I also tried with the redirected URL, same result.

[2022-03-05 14:38] jacktuck commented on #88
@phuctm97 should be fixed in the latest release. I did try to make it a major release but semantic-release didn't work as I'd expected.

[2022-05-18 08:11] wereHamster opened #89 "Allow passing extra headers to fetch request"
Use case: include cookies or authorization header.

[2022-05-20 15:33] #89 closed

[2022-08-12 12:45] PiiXiieeS opened #95 "Posibility to use axios or enhance the current implementation to work on company proxyfied networks"
We have not been able to make unfurl work in internal corporate networks behind a proxy. We use regularly axios with https://github.com/TooTallNate/node-https-proxy-agent as http/https proxy agent.

Would you consider a potential transition to axios or to extend the package to make it compliant with both node-fetch and axios?
Or eventually extend the current implementation to make it work behind a

[2022-10-20 10:18] adrian-seijo opened #97 "[Bug]: SoundCloud oEmbed is not returning any html content"
PR: https://github.com/jacktuck/unfurl/pull/96

I was playing around with SoundCloud urls on `unfurl` and I noticed that they don't return any html content currently while they do for other attributes.

The issue seems to be that they are escaping the html content with a `CDATA` and that trips the logic that extracts the content.

I have [raised a PR](https://github.com/jacktuck/unfurl/pull/96) th

[2022-10-23 04:09] jacktuck commented on #97
Fixed in #98. Thanks Adrian!

[2022-10-23 04:09] #97 closed

[2022-10-23 18:28] jacktuck commented on #95
#90 should allow you to provide your own fetch implementation. I've not tested this but you ought to be able to do something like

[code]